.cancellation-policy,
.please-refer-to1 {
  width: 1680px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.cancellation-policy {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.please-refer-to1 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Work Sans";
}
.cancellation-policy-parent {
  align-self: stretch;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #1c1c1c;
  font-family: Archivo;
}
.cancellation-process,
.cancellation-process1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.cancellation-process1 {
  padding-left: 43px;
}
.cancellation-process {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.to-cancel-your {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.cancellation-process-parent {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.refund-processing-time {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.refund-processing-time-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.refunds-for-eligible {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.refund-processing-time-parent {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.exceptions-and-special-circums {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.exceptions-and-special-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.certain-services-or {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.exceptions-and-special-circums-parent {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.changes-to-bookings {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.changes-to-bookings-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.you-have-the {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: #454545;
}
.changes-to-bookings-parent {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.policy-updates,
.policy-updates1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.policy-updates1 {
  padding-left: 43px;
}
.policy-updates {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.this-cancellation-and {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: "Work Sans";
  color: #454545;
}
.policy-updates-parent {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.contact-us3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.contact-us2,
.if-you-have1 {
  align-self: stretch;
  position: relative;
}
.contact-us2 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.if-you-have1 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Work Sans";
  color: #454545;
}
.contact-us-group {
  width: 1680px;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
}
.cancellation-details,
.canncellationpolicy,
.contact-us-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cancellation-details {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #262626;
  font-family: Archivo;
}
.canncellationpolicy {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .cancellation-details {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .cancellation-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .cancellation-process,
  .changes-to-bookings-container,
  .contact-us2,
  .exceptions-and-special-container,
  .policy-updates,
  .refund-processing-time-container {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-details {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .cancellation-process-parent,
  .changes-to-bookings-parent,
  .contact-us-group,
  .exceptions-and-special-circums-parent,
  .policy-updates-parent,
  .refund-processing-time-parent {
    gap: 16px;
  }
  .cancellation-details {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .cancellation-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .cancellation-process,
  .changes-to-bookings-container,
  .contact-us2,
  .exceptions-and-special-container,
  .policy-updates,
  .refund-processing-time-container {
    font-size: 19px;
    line-height: 23px;
  }
  .cancellation-details {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
