.homepage,
.title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  padding: 120px 0;
  box-sizing: border-box;
  gap: 48px;
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: #fff;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 850px) {
  .title {
    gap: 24px;
    padding-top: 78px;
    padding-bottom: 78px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    padding-top: 51px;
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
