
.frame-child,
.rectangle-parent {
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  max-width: 100%;
}
.frame-child {
  height: 1004px;
  width: 960px;
  position: relative;
  display: none;
}
.rectangle-parent {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 68px 38px;
  box-sizing: border-box;
  min-width: 624px;
  min-height: 1004px;
}
.payment,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
}

.payment {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {

  .rectangle-parent {
    min-height: auto;
  }

}
@media screen and (max-width: 1050px) {
  .rectangle-parent {
    padding-top: 77px;
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
@media screen and (max-width: 750px) {

  .rectangle-parent {
    padding-top: 29px;
    padding-bottom: 29px;
    box-sizing: border-box;
    min-width: 100%;
  }

}
@media screen and (max-width: 450px) {

}
