.please-refer-to,
.terms-and-conditions {
  width: 1680px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.terms-and-conditions {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.please-refer-to {
  font-size: 16px;
  line-height: 22px;
  font-family: "Work Sans";
}
.terms-and-conditions-parent {
  align-self: stretch;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
}
.lilylamb-kids-we {
  width: 1680px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  display: inline-block;
  max-width: 100%;
}
.data-security1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.data-security,
.we-take-reasonable {
  align-self: stretch;
  position: relative;
}
.data-security {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.we-take-reasonable {
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
}
.policies-categories {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #1c1c1c;
  font-family: Archivo;
}
.third-party-services1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.third-party-services,
.we-may-use {
  align-self: stretch;
  position: relative;
}
.third-party-services {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.we-may-use {
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
}
.policies-categories1 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.cookies-and-tracking-technolog {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.cookies-and-tracking-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.we-use-cookies {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: "Work Sans";
}
.policies-categories2 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #1c1c1c;
  font-family: Archivo;
}
.your-choices1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.you-have-the,
.your-choices {
  align-self: stretch;
  position: relative;
}
.your-choices {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.you-have-the {
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
}
.policies-categories3 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.changes-to-this-privacy-policy {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.changes-to-this-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.we-may-update {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
}
.policies-categories4 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #1c1c1c;
  font-family: Archivo;
}
.contact-us,
.contact-us1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.contact-us1 {
  padding-left: 43px;
}
.contact-us {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.blank-line,
.by-using-our,
.if-you-have {
  margin: 0;
}
.if-you-have-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
}
.policies-categories5 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.lilylamb-kids-we-us-or-parent,
.termsandcondition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1c1c1c;
  font-family: Archivo;
}
.lilylamb-kids-we-us-or-parent {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
}
.termsandcondition {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 48px;
}
@media screen and (max-width: 1200px) {
  .lilylamb-kids-we-us-or-parent {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .terms-and-conditions {
    font-size: 38px;
    line-height: 42px;
  }
  .changes-to-this-container,
  .contact-us,
  .cookies-and-tracking-container,
  .data-security,
  .third-party-services,
  .your-choices {
    font-size: 26px;
    line-height: 31px;
  }
  .lilylamb-kids-we-us-or-parent {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .policies-categories,
  .policies-categories1,
  .policies-categories2,
  .policies-categories3,
  .policies-categories4,
  .policies-categories5 {
    gap: 16px;
  }
  .lilylamb-kids-we-us-or-parent {
    gap: 32px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .terms-and-conditions {
    font-size: 29px;
    line-height: 32px;
  }
  .changes-to-this-container,
  .contact-us,
  .cookies-and-tracking-container,
  .data-security,
  .third-party-services,
  .your-choices {
    font-size: 19px;
    line-height: 23px;
  }
  .lilylamb-kids-we-us-or-parent {
    gap: 16px;
  }
}
