.header-item {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #eee;
  flex-shrink: 0;
  display: none;
}
.product5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.header-labels {
  width: 247px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.header-labels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 0;
}
.quantity,
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 71px;
  z-index: 1;
}
.total {
  min-width: 40px;
}
.header7 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 38px 13px;
  gap: 142px;
}
.product-thumbnail-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.216);
}
.wrapper-product-thumbnail {
  height: 74px;
  width: 127px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount-20-off,
.fenty-beauty-50 {
  width: 179px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.discount-20-off {
  line-height: 22px;
}
.product-info {
  width: 257px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.credits1,
.price-value {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.price-value {
  min-width: 68px;
  white-space: nowrap;
}
.credits1 {
  min-width: 85px;
}
.item-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus1 {
  width: 16px;
  height: 16px;
  position: relative;
}
.quantity-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.icon-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.quantity-icons1 {
  margin: 0;
  height: 19px;
  width: 16px;
}
.adjust-buttons {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 9px 7px 7px;
  gap: 20px;
}
.item-time {
  align-self: stretch;
  height: 38px;
  font-family: Inter;
  font-size: 18px;
  color: #1c1c1c;
}
.item-pricing,
.quantity-adjust {
  display: flex;
  align-items: flex-start;
}
.quantity-adjust {
  width: 113px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.item-pricing {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 92px 0 0;
  box-sizing: border-box;
  min-width: 198px;
  max-width: 100%;
  gap: 20px;
}
.separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
}
.cart-footer,
.cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-item {
  width: 897px;
  flex-direction: row;
  gap: 15px;
}
.cart-footer {
  align-self: stretch;
  flex-direction: column;
  gap: 36px;
}
.action-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.button7,
.button8 {
  height: 54px;
  width: 129px;
}
.button8 {
  width: 139px;
}
.action-buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.cart-actions,
.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-actions {
  align-self: stretch;
  gap: 35px;
}
.item-container {
  flex: 1;
  gap: 55px;
  max-width: 100%;
}
.checkout-details5 {
  width: 140px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.checkout-header,
.header8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header8 {
  flex: 1;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  padding: 16px 24px;
}
.checkout-header {
  align-self: stretch;
  padding: 0 0 4px;
}
.cart-subtotal1,
.total-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 108px;
}
.total-separator {
  min-width: 68px;
  white-space: nowrap;
}
.total-details,
.total-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.total-labels {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.total-details {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 30px 0 25px;
  box-sizing: border-box;
}
.shipping-handling1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.other-taxes1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 98px;
}
.charge-labels {
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.div11,
.div12 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 47px;
  white-space: nowrap;
}
.charge-labels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.additional-charges,
.charges-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.charges-list {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.additional-charges {
  justify-content: flex-start;
  padding: 0 29px 0 25px;
}
.additional-charges,
.order-summary4,
.summary-divider1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.summary-divider1 {
  flex: 1;
  position: relative;
  border-top: 1px solid #b6b6b6;
}
.order-summary4 {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.div13,
.grand-total1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 96px;
}
.div13 {
  width: 68px;
  text-align: right;
  min-width: 68px;
  white-space: nowrap;
}
.grand-total-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.total-details1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.cart-items,
.checkout-details4,
.items-container,
.total-details1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.checkout-details4 {
  width: 504px;
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 32px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 504px;
}
.cart-items,
.items-container {
  flex-direction: row;
}
.items-container {
  width: 1536px;
  justify-content: flex-start;
  gap: 47px;
}
.cart-items {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .checkout-details4 {
    flex: 1;
  }
  .items-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .header7 {
    gap: 71px;
  }
}
@media screen and (max-width: 750px) {
  .cart-item {
    flex-wrap: wrap;
  }
  .cart-footer {
    gap: 18px;
  }
  .cart-actions {
    gap: 17px;
  }
  .item-container {
    gap: 27px;
    min-width: 100%;
  }
  .checkout-details4 {
    gap: 16px;
    min-width: 100%;
  }
  .items-container {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .header7 {
    gap: 35px;
  }
  .item-pricing {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .action-buttons,
  .charges-list,
  .grand-total-parent,
  .item-pricing,
  .total-labels {
    flex-wrap: wrap;
  }
}
