.discover-our-popular {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.explore-a-variety {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Archivo;
}
.popular-products-container {
  width: 671px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.card-design1-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #ceef51, #efffa7);
}
.giftcards1,
.wishdeck1 {
  margin: 0;
}
.wishdeck-giftcards1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.usd-100-10003 {
  width: 177.3px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
}
.wishdeck-giftcards-group {
  width: 208.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.6px;
}
.pngwing-1-icon2 {
  margin-top: -31.3px;
  height: 267px;
  width: 272px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.card-design11 {
  height: 264px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28.3px 0 0 41px;
  box-sizing: border-box;
  position: relative;
  gap: 21.7px;
}
.card-design4-child,
.product42 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
}
.product42 {
  width: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-design4-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #cba1f9, #eab4ff);
}
.giftcards2,
.wishdeck2 {
  margin: 0;
}
.wishdeck-giftcards2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.usd-100-10004 {
  width: 177.3px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
}
.card-design4-inner,
.wishdeck-giftcards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wishdeck-giftcards-container {
  align-self: stretch;
  gap: 4.6px;
}
.card-design4-inner {
  width: 208.4px;
  padding: 6.8px 0 0;
  box-sizing: border-box;
  min-width: 208.4px;
}
.pngwing-1-icon3 {
  margin-left: -33.7px;
  width: 327.5px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 112%;
  flex-shrink: 0;
  z-index: 1;
}
.card-design41,
.pngwing-1-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pngwing-1-wrapper {
  width: 293.8px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  min-width: 293.8px;
}
.card-design41 {
  flex-direction: row;
  padding: 21.5px 1px 0 41px;
  position: relative;
  row-gap: 20px;
}
.card-design-anniversay-child,
.product43 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.product43 {
  width: 544px;
  top: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-design-anniversay-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #f9f5f6, #fdcedf);
}
.anniversary,
.gift-card {
  margin: 0;
}
.anniversary-gift-card-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.anniversary-gift-card-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 17px;
}
.div7 {
  position: relative;
  font-size: 32px;
  line-height: 22px;
  color: #1c1c1c;
  display: inline-block;
  min-width: 70px;
  white-space: nowrap;
  z-index: 1;
}
.card-design-anniversay-inner,
.frame-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 100px;
}
.card-design-anniversay-inner {
  width: 248.7px;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
  min-width: 248.7px;
}
.pngwing-6-icon {
  height: 219px;
  width: 265px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.card-design-anniversay {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 29px 0 16px 24px;
  position: relative;
  gap: 6.3px;
}
.card-design-fenty-item,
.product44 {
  position: absolute;
  margin: 0 !important;
}
.product44 {
  width: 544px;
  top: 500px;
  left: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  color: #000;
  font-family: Archivo;
}
.card-design-fenty-item {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #ff8796, #feba95);
}
.mask-group-icon3,
.usd-100-10005 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.mask-group-icon3 {
  width: 289.7px;
  max-height: 100%;
  object-fit: contain;
}
.usd-100-10005 {
  line-height: 22px;
  flex-shrink: 0;
}
.usd-100-1000-container {
  width: 290px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 11px;
  box-sizing: border-box;
}
.card-design-fenty1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 74.9px 20px 21px;
  position: relative;
  gap: 37.8px;
}
.card-design-nike-child,
.product45 {
  position: absolute;
  margin: 0 !important;
}
.product45 {
  width: 544px;
  top: 500px;
  left: 1136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
}
.card-design-nike-child {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #cba1f9, #eab4ff);
}
.image-1-icon {
  height: 120.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.image-1-wrapper {
  width: 268px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px 0 27px;
  box-sizing: border-box;
}
.usd-100-10006 {
  width: 267.3px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  z-index: 1;
}
.card-design-nike {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 59.5px 20px 21px;
  position: relative;
  gap: 41.2px;
}
.popular-products-container-parent,
.product-cards-container,
.product46 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.product46 {
  width: 544px;
  margin: 0 !important;
  position: absolute;
  top: 1000px;
  left: 0;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
}
.popular-products-container-parent,
.product-cards-container {
  align-self: stretch;
}
.product-cards-container {
  height: 1436px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 64px 22px;
  font-size: 30px;
  color: #1d1d1d;
}
.popular-products-container-parent {
  background-color: #2f4858;
  overflow: hidden;
  flex-direction: column;
  padding: 80px 120px;
  box-sizing: border-box;
  gap: 32px;
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1225px) {
  .popular-products-container-parent {
    padding: 34px 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .discover-our-popular {
    font-size: 38px;
    line-height: 42px;
  }
  .wishdeck-giftcards1,
  .wishdeck-giftcards2 {
    font-size: 24px;
    line-height: 29px;
  }
  .card-design4-inner {
    flex: 1;
  }
  .pngwing-1-icon3 {
    align-self: stretch;
    width: auto;
  }
  .pngwing-1-wrapper {
    flex: 1;
  }
  .card-design41 {
    flex-wrap: wrap;
  }
  .anniversary-gift-card-container {
    font-size: 24px;
    line-height: 29px;
  }
  .div7 {
    font-size: 26px;
    line-height: 18px;
  }
  .card-design-anniversay-inner,
  .pngwing-6-icon {
    flex: 1;
  }
  .card-design-anniversay {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .product-cards-container {
    height: auto;
    min-height: 1436;
  }
  .popular-products-container-parent {
    gap: 16px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .discover-our-popular {
    font-size: 29px;
    line-height: 32px;
  }
  .anniversary-gift-card-container,
  .wishdeck-giftcards1,
  .wishdeck-giftcards2 {
    font-size: 18px;
    line-height: 22px;
  }
  .div7 {
    font-size: 19px;
    line-height: 13px;
  }
  .popular-products-container-parent {
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
