.checkout2 {
  margin: 0;
  position: relative;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  font-family: Archivo;
  color: #000;
  text-align: left;
}
.block-1,
.block-2,
.header4 {
  border: 0;
  background-color: transparent;
  font-family: Inter;
  font-size: 18px;
  color: #000;
}
.header4 {
  align-self: stretch;
  height: 54px;
}
.block-1,
.block-2 {
  height: 50px;
  flex: 1;
  min-width: 314px;
  max-width: 100%;
}
.row-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.block-11 {
  border: 0;
  background-color: transparent;
  height: 50px;
  flex: 1;
  font-family: Inter;
  font-size: 18px;
  color: #000;
  min-width: 314px;
  max-width: 100%;
}
.country,
.icon1 {
  position: relative;
}
.country {
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 66px;
}
.icon1 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.block-21,
.row-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.block-21 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px;
  min-width: 314px;
  gap: 20px;
}
.row-2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.block-12,
.block-22,
.block-23,
.block-24,
.row-3,
.row-4 {
  border: 0;
  background-color: transparent;
  height: 50px;
  font-family: Inter;
  font-size: 18px;
  color: #000;
}
.block-22,
.block-23,
.row-3,
.row-4 {
  align-self: stretch;
}
.block-12,
.block-24 {
  flex: 1;
  min-width: 314px;
  max-width: 100%;
}
.form-field-block,
.row-5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.form-field-block {
  flex-direction: column;
  gap: 24px;
}
.billing-header-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.button5,
.button6 {
  height: 54px;
  width: 100px;
}
.button6 {
  width: 139px;
}
.billing-header,
.billing-title {
  display: flex;
  align-items: flex-start;
}
.billing-title {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.billing-header {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35.8px;
  min-width: 640px;
  max-width: 100%;
}
.checkout-details2 {
  width: 140px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
}
.header5 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  white-space: nowrap;
}
.cart-subtotal,
.total-amounts {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 108px;
}
.total-amounts {
  min-width: 68px;
  white-space: nowrap;
}
.order-summary {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.div8,
.shipping-handling {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
}
.shipping-handling {
  width: 172px;
}
.div8 {
  min-width: 47px;
  white-space: nowrap;
}
.order-summary1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.div9,
.other-taxes {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 98px;
}
.div9 {
  min-width: 47px;
  white-space: nowrap;
}
.order-summary2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.summary-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.div10,
.grand-total {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 96px;
}
.div10 {
  width: 68px;
  text-align: right;
  min-width: 68px;
  white-space: nowrap;
}
.checkout-details1,
.order-summary3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.checkout-details1 {
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 20px;
  gap: 35.8px;
}
.transfer-options1 {
  width: 136px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
}
.header6 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  white-space: nowrap;
}
.image-1-icon2 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 38px;
  height: 23px;
  object-fit: contain;
}
.logo-block {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.bank,
.transfer {
  margin: 0;
}
.bank-transfer {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.block-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-2-icon {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 34px;
  height: 16px;
  object-fit: contain;
}
.logo-block1 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.google,
.pay {
  margin: 0;
}
.google-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.block-25,
.logos-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.logos-block {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.image-3-icon {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 15.5px);
  width: 32px;
  height: 13px;
  object-fit: contain;
}
.logo-block2 {
  align-self: stretch;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.apple,
.pay1 {
  margin: 0;
}
.apple-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.block-3 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-4-icon {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 40px;
  height: 20px;
  object-fit: contain;
}
.logo-block3 {
  align-self: stretch;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.paypal {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.block-4,
.method-container {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.method-container {
  width: 150px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.checkout-details3 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  padding: 36px 291px 36px 24px;
  gap: 36px;
}
.billing-header-parent,
.checkout-details3,
.order-details,
.transfer-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transfer-options {
  align-self: stretch;
  flex-direction: column;
}
.billing-header-parent,
.order-details {
  gap: 47px;
  max-width: 100%;
}
.order-details {
  width: 500px;
  flex-direction: column;
  min-width: 500px;
}
.billing-header-parent {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
}
@media screen and (max-width: 1275px) {
  .order-details {
    flex: 1;
  }
  .billing-header-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .row-1,
  .row-2,
  .row-5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .checkout2 {
    font-size: 26px;
    line-height: 31px;
  }
  .billing-header {
    gap: 18px;
    min-width: 100%;
  }
  .checkout-details1 {
    gap: 18px;
  }
  .checkout-details3 {
    gap: 18px;
    padding-right: 145px;
    box-sizing: border-box;
  }
  .order-details {
    gap: 23px;
    min-width: 100%;
  }
  .billing-header-parent {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .checkout2 {
    font-size: 19px;
    line-height: 23px;
  }
  .billing-title,
  .order-summary,
  .order-summary1,
  .order-summary2,
  .order-summary3 {
    flex-wrap: wrap;
  }
  .checkout-details3 {
    padding-right: 20px;
    box-sizing: border-box;
  }
}
