.item-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.item-image-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.216);
}
.wrapper-item-image {
  height: 74px;
  width: 127.1px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping-spree-gift,
.worth-usd-400 {
  width: 179px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.worth-usd-400 {
  line-height: 22px;
}
.item-title {
  width: 256.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.credits,
.quantity-placeholder {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.quantity-placeholder {
  min-width: 68px;
  white-space: nowrap;
}
.credits {
  min-width: 85px;
}
.item-quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus {
  width: 16px;
  height: 16px;
  position: relative;
}
.increase-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.button-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.decrease-button {
  margin: 0;
  height: 19px;
  width: 16px;
}
.control-buttons {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 9px 7px 7px;
  gap: 20px;
}
.item-duration {
  align-self: stretch;
  height: 38px;
  font-family: Inter;
  font-size: 18px;
  color: #1c1c1c;
}
.item-actions,
.quantity-controls {
  display: flex;
  align-items: flex-start;
}
.quantity-controls {
  width: 113px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.item-actions {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 92px 0 0;
  box-sizing: border-box;
  min-width: 198px;
  max-width: 100%;
  gap: 20px;
}
.item-placeholder {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-details,
.item-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.item-details {
  width: 897px;
  flex-direction: row;
  gap: 15px;
}
.item-info {
  align-self: stretch;
  flex-direction: column;
  gap: 35px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 750px) {
  .item-details {
    flex-wrap: wrap;
  }
  .item-info {
    gap: 17px;
  }
}
@media screen and (max-width: 450px) {
  .item-actions {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
