.card-designkids-item {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kids-toys2,
.needs2 {
  margin: 0;
}
.kids-toys-container2,
.usd-100-100014 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.kids-toys-container2 {
  margin: 0;
  height: 72.2px;
  font-size: inherit;
  line-height: 36px;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.usd-100-100014 {
  font-size: 16px;
  line-height: 22px;
  min-width: 118px;
}
.card-design8,
.card-designkids2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-designkids2 {
  flex: 1;
  flex-direction: column;
  padding: 85.6px 20px 79.6px 24px;
  box-sizing: border-box;
  position: relative;
  gap: 4.6px;
}
.card-design8 {
  align-self: stretch;
  flex-direction: row;
  color: #fff;
}
.popular-card8 {
  margin: 0;
  width: 143px;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  display: inline-block;
}
.online8 {
  flex: 1;
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
}
.background16,
.container16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container16 {
  height: 24px;
  width: 67px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0.5px 1px 0 12px;
  box-sizing: border-box;
}
.background16 {
  border-radius: 6px;
  background-color: #f6f8f9;
  padding: 0 9px;
}
.in-store8 {
  width: 75px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container17 {
  height: 24px;
  overflow: hidden;
  padding: 0.5px 1px 0 11px;
  box-sizing: border-box;
}
.background-parent4,
.background17,
.container17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.background17 {
  border-radius: 6px;
  background-color: #f6f8f9;
  padding: 0 2px;
  color: #ffb779;
}
.background-parent4 {
  gap: 12px;
  font-size: 16px;
  color: #00cca8;
  font-family: Roboto;
}
.adidas8 {
  width: 58px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 58px;
}
.adidas-wrapper5,
.product38 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 18px;
}
.product38 {
  width: 402px;
  margin: 0 !important;
  position: absolute;
  top: 1006px;
  left: 458px;
  background-color: #fff;
  flex-direction: column;
  padding: 34px 36px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: 30px;
  color: #1c1c1c;
  font-family: Inter;
}
@media screen and (max-width: 925px) {
  .kids-toys-container2 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (max-width: 450px) {
  .kids-toys-container2 {
    font-size: 18px;
    line-height: 22px;
  }
  .popular-card8 {
    font-size: 19px;
    line-height: 23px;
  }
}
