.recommended-gift-cards {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.treat-yourself-or {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Archivo;
  display: inline-block;
  max-width: 100%;
}
.recommendation-header {
  width: 571px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.card-design4-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #cba1f9, #eab4ff);
}
.usd-100-100011 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15em;
  line-height: 18px;
  text-transform: uppercase;
  z-index: 2;
}
.usd-100-1000-frame {
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 76.8px 0 0;
  box-sizing: border-box;
}
.pngwing-1-icon5 {
  height: 242.5px;
  width: 242px;
  position: absolute;
  margin: 0 !important;
  right: -217.1px;
  bottom: -163.5px;
  object-fit: cover;
  z-index: 1;
}
.giftcards4,
.wishdeck4 {
  margin: 0;
}
.wishdeck-giftcards4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.pngwing-1-parent {
  flex-direction: row;
  position: relative;
  margin-left: -131px;
  font-size: 30px;
}
.card-design42,
.pngwing-1-parent,
.product48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-design42 {
  align-self: stretch;
  flex-direction: row;
  padding: 28.3px 30px 140.9px;
  position: relative;
}
.product48 {
  flex: 1;
  flex-direction: column;
  min-width: 301px;
  max-width: 100%;
  font-size: 12px;
}
.product-cards {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  text-align: left;
  font-size: 30px;
  color: #1d1d1d;
}
.product-cards,
.recommendation-header-parent,
.recommendations {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.recommendation-header-parent {
  width: 1680px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.recommendations {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 800px) {
  .recommended-gift-cards {
    font-size: 38px;
    line-height: 42px;
  }
  .wishdeck-giftcards4 {
    font-size: 24px;
    line-height: 29px;
  }
  .recommendation-header-parent {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .recommended-gift-cards {
    font-size: 29px;
    line-height: 32px;
  }
  .wishdeck-giftcards4 {
    font-size: 18px;
    line-height: 22px;
  }
}
